html {
    font-family: Figtree, sans-serif;
    font-feature-settings: normal;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #111827;
    width: 100%;
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
}

.pull-right {
    margin-left: auto;
}

.pull-down {
    margin-top: auto;
}

/* table.data { */
/*     width: 100%; */
/* } */

/* table.data td, */
/* table.data th { */
/*     padding: .5rem; */
/*     border-bottom: 1px solid black; */
/* } */

/* table.data tr:last-child td { */
/*     border: none; */
/* } */
